# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Additions to avoid conflicts
/codeStyles/
/aws.xml
/checkstyle-idea.xml
/libraries/